In [ ]:
import pandas as pd
import requests
import time
import os

In [128]:
API = os.environ['API']

In [ ]:
count = 1
ID_list = []
while(count <= 150):
  url = f"https://www.99acres.com/api-aggregator/srp/search?property_type=1&area_unit=1&platform=DESKTOP&moduleName=GRAILS_SRP&workflow=GRAILS_SRP&page_size=30&page={count}&city=25&preference=S&res_com=R&seoUrlType=DEFAULT"
  response = requests.get(url)
  response = response.json()
  if response['status']['code'] != 1:
      break
  else:
    ids = response['properties']
    c = 1
    for id in ids:
      if c != 31:
        ID_list.append(id['PROP_ID'])
        c += 1
  count += 1

print(len(ID_list))

4500

In [ ]:
output = pd.DataFrame()

for id in ID_list:
  try:
    url = f"https://www.99acres.com/api-aggregator/psuedoData?prop_id={id}&stage=load"
    # time.sleep(0.4)
    response = requests.get(url)
    response = response.json()

    prop_data = response['propertyDetails']['prop_data']

    lattitude = prop_data['Latitude']
    longitude = prop_data['Longitude']
    post_date = prop_data['Modify_Date']
    availability_date = prop_data['Availability_Info']['Availability_Date']
    owner_name = prop_data['company_label']
    property_name = prop_data['Prop_Name']
    id = prop_data['Building_Id']
    locality_name = prop_data ['Locality_Name']
    base_price = prop_data['Price_Per_Unit_Area']

    for floor in response['floorPlan']:
      area_sqft = floor['SALEABLE_AREA_SQFT']
      price = floor['NEW_BOOKING_PRICE']['min']
      details = floor['unitDetailSectionParts']
      bedrooms = details['bedrooms']
      kitchens = details['kitchens']
      bathroom = details['bathroom']
      balcony = details['balcony']
      living = details['living']
      data = {'id': id, 
              'lattitude': lattitude, 
              'longitude': longitude, 
              'post_date': post_date, 
              'availability_date': availability_date, 
              'owner_name': owner_name, 
              'property_name': property_name, 
              'locality_name': locality_name, 
              'base_price': base_price, 
              'area_sqft': area_sqft, 
              'price': price, 
              'bedrooms': bedrooms, 
              'kitchens': kitchens, 
              'bathroom': bathroom, 
              'balcony': balcony, 
              'living': living}
      output = output.append(data, ignore_index=True)
  except:
    pass

In [ ]:
output.to_csv(r'raw_dataset.csv')

In [70]:
df = pd.read_csv('raw_dataset.csv')

In [91]:
df.head()

   Unnamed: 0  area_sqft  ...      price  property_name
0           0     1480.0  ...  5994000.0  Dhoot Pratham
1           1     1500.0  ...  6075000.0  Dhoot Pratham
2           2     1520.0  ...  6156000.0  Dhoot Pratham
3           3     1545.0  ...  6257250.0  Dhoot Pratham
4           4     1580.0  ...  6399000.0  Dhoot Pratham

[5 rows x 17 columns]

In [75]:
df.shape

(3131, 17)

In [72]:
df.dtypes

Unnamed: 0             int64
area_sqft            float64
availability_date     object
balcony              float64
base_price             int64
bathroom             float64
bedrooms             float64
id                     int64
kitchens             float64
lattitude            float64
living               float64
locality_name         object
longitude            float64
owner_name            object
post_date             object
price                float64
property_name         object
dtype: object

In [98]:
tb = pd.pivot_table(df, index=['lattitude', 'longitude'])

In [99]:
tb

                      Unnamed: 0    area_sqft  ...  living         price
lattitude longitude                            ...
22.263380 88.233450  1229.500000  1022.500000  ...     NaN  3.578750e+06
22.341433 88.457786  1565.500000   622.500000  ...     1.0  1.595500e+06
22.364447 88.274642   653.285714   665.714286  ...     1.0  1.651757e+06
22.386195 88.424470   343.500000   577.200000  ...     1.0  1.500720e+06
22.386579 88.418330  1794.500000  1015.833333  ...     1.0  3.352250e+06
...                          ...          ...  ...     ...           ...
22.737306 88.351315  3075.250000   753.250000  ...     1.0  2.002500e+06
22.746763 88.485751  1348.600000   873.600000  ...     1.0  2.096640e+06
22.747559 88.338539  3037.500000   843.500000  ...     NaN  2.982500e+06
22.892501 88.470369  3111.500000  1106.500000  ...     NaN  3.286305e+06
26.878147 75.781635   983.500000   742.500000  ...     NaN  2.598707e+06

[202 rows x 10 columns]

In [101]:
col_one_list = df['lattitude'].tolist()
col_two_list = df['longitude'].tolist()

In [ ]:
col_one_list

In [104]:
len(col_two_list)

3131

In [110]:
arr = []
for i in range(0, len(col_one_list)):
  arr.append((col_one_list[i], col_two_list[i])) #Converting to tuple coz set dont work with nested list

In [111]:
len(arr)

3131

In [112]:
setlist = set(arr) # converting to set get unique coords to call API
len(setlist)

202

In [115]:
setlist = list(setlist)

In [116]:
for i in range(0, len(setlist)):
  setlist[i] = list(setlist[i])

In [167]:
setlist

[[22.459167, 88.322051],
 [22.398152, 88.421751],
 [22.586761, 88.252898],
 [22.528148, 88.379278],
 [22.570171, 88.447571],
 [22.446267000000002, 88.400093],
 [22.567551, 88.463143],
 [22.699432, 88.37539699999999],
 [22.507655, 88.29985],
 [22.682904, 88.46518],
 [22.57676, 88.442903],
 [22.502032, 88.340406],
 [22.399735, 88.41598],
 [22.563462, 88.39210600000001],
 [22.641998, 88.466071],
 [22.583168, 88.41167800000001],
 [22.454918, 88.386375],
 [22.679944, 88.455308],
 [22.495297, 88.368442],
 [22.528426, 88.35233199999999],
 [22.611104, 88.498101],
 [22.581120000000002, 88.498343],
 [22.585151999999997, 88.273586],
 [22.494129, 88.274638],
 [22.746763, 88.48575100000001],
 [22.711201000000003, 88.50069],
 [22.619295, 88.44737099999999],
 [22.493543, 88.405631],
 [22.610469000000002, 88.497938],
 [22.599933, 88.44998100000001],
 [22.582387, 88.45384200000001],
 [22.594747, 88.262587],
 [22.470755, 88.39710699999999],
 [22.515295000000002, 88.347622],
 [22.436982999999998, 88.3917283],
 [22.691457, 88.33600899999999],
 [22.498266, 88.348046],
 [22.481925, 88.326104],
 [22.507324, 88.32452099999999],
 [22.747559, 88.338539],
 [22.892501, 88.47036899999999],
 [22.493032999999997, 88.403437],
 [22.696996, 88.47314300000001],
 [22.633414000000002, 88.459187],
 [22.667361, 88.381618],
 [22.427963000000002, 88.40740100000001],
 [22.454086, 88.30055300000001],
 [22.587225, 88.50279499999999],
 [22.687471, 88.440912],
 [22.737306, 88.351315],
 [22.527656, 88.389844],
 [22.556041, 88.311766],
 [22.488065, 88.295812],
 [22.404165, 88.419477],
 [22.489545, 88.336865],
 [22.588327, 88.49746],
 [22.573977, 88.39824899999999],
 [22.582182, 88.487992],
 [22.670682, 88.37609599999999],
 [22.616083, 88.39054399999999],
 [22.592254999999998, 88.50883499999999],
 [22.263379999999998, 88.23345],
 [22.469172, 88.39824899999999],
 [22.638310999999998, 88.465164],
 [22.593626399999998, 88.4766028],
 [22.694185, 88.487053],
 [22.447353, 88.287786],
 [22.660872, 88.34371],
 [22.708474, 88.378311],
 [22.386195, 88.42447],
 [22.572457999999997, 88.49441800000001],
 [22.514066699999997, 88.3378828],
 [22.439485, 88.399957],
 [22.521759, 88.322446],
 [22.544097, 88.38696999999999],
 [22.553960699999998, 88.3710407],
 [22.571903, 88.48164],
 [22.504206, 88.287499],
 [22.622742300000002, 88.38946990000001],
 [22.723986, 88.480351],
 [22.612916000000002, 88.41072700000001],
 [22.627561, 88.445494],
 [22.425151, 88.30273100000001],
 [22.628961, 88.446314],
 [22.691781, 88.46864000000001],
 [22.443479, 88.389803],
 [22.341433, 88.457786],
 [22.632786, 88.4704],
 [22.601535000000002, 88.397541],
 [22.574862, 88.46634499999999],
 [22.439239, 88.396338],
 [22.589883, 88.452872],
 [22.485354, 88.287531],
 [22.697995000000002, 88.438601],
 [22.567901000000003, 88.446208],
 [22.589935, 88.510215],
 [22.496433, 88.348449],
 [22.576779000000002, 88.49526800000001],
 [22.493499, 88.398394],
 [22.6819, 88.473904],
 [22.633662, 88.46405899999999],
 [22.444117000000002, 88.41149300000001],
 [22.636942, 88.411775],
 [22.678689000000002, 88.460761],
 [22.578114000000003, 88.366215],
 [22.641526000000002, 88.377438],
 [22.551689, 88.393056],
 [22.602949, 88.337913],
 [22.553695, 88.335128],
 [22.407335, 88.413744],
 [22.591565, 88.468703],
 [22.586785600000002, 88.4939735],
 [22.559426300000002, 88.37365390000001],
 [22.567404999999997, 88.517943],
 [22.455599, 88.324353],
 [22.589093, 88.47385899999999],
 [22.535643, 88.33908100000001],
 [22.691318, 88.355817],
 [22.493354999999998, 88.340365],
 [22.555027, 88.387777],
 [22.499612, 88.40820699999999],
 [22.440106, 88.29385],
 [22.699506, 88.31854399999999],
 [22.591565, 88.456034],
 [22.698283, 88.43694],
 [22.540732000000002, 88.356866],
 [22.525929, 88.39370500000001],
 [22.586791, 88.421994],
 [22.633829000000002, 88.463741],
 [22.576979, 88.488607],
 [22.651344, 88.37947700000001],
 [22.661363, 88.439932],
 [22.512626, 88.370689],
 [22.64321, 88.406803],
 [22.547378, 88.393846],
 [22.512772000000002, 88.41025400000001],
 [22.578018, 88.4976],
 [26.878147, 75.781635],
 [22.557147, 88.39846700000001],
 [22.730711, 88.454462],
 [22.484379, 88.296362],
 [22.483811, 88.329373],
 [22.575843, 88.309252],
 [22.607008, 88.413498],
 [22.6946, 88.340544],
 [22.59508, 88.375853],
 [22.698573, 88.469026],
 [22.599115, 88.442785],
 [22.645630999999998, 88.382354],
 [22.386579, 88.41833000000001],
 [22.570644, 88.463962],
 [22.450506, 88.392075],
 [22.574961, 88.486499],
 [22.411118, 88.24964399999999],
 [22.543113, 88.386363],
 [22.734367000000002, 88.386402],
 [22.6827073, 88.4660928],
 [22.590432, 88.491352],
 [22.47286, 88.38515],
 [22.624419, 88.43898],
 [22.617878, 88.44801600000001],
 [22.456015, 88.331051],
 [22.615187, 88.28766],
 [22.589407, 88.452265],
 [22.625582, 88.49076099999999],
 [22.460905, 88.30779100000001],
 [22.419527, 88.284572],
 [22.665262, 88.371312],
 [22.465147, 88.39366899999999],
 [22.440842, 88.29812700000001],
 [22.687184, 88.338105],
 [22.499401000000002, 88.413519],
 [22.502676, 88.329598],
 [22.548157999999997, 88.382573],
 [22.692638, 88.463629],
 [22.628549, 88.417697],
 [22.612631, 88.445595],
 [22.736686, 88.344729],
 [22.463406, 88.388275],
 [22.484821, 88.294591],
 [22.638156, 88.449703],
 [22.436876, 88.37504100000001],
 [22.490826000000002, 88.345894],
 [22.446924, 88.392635],
 [22.629835999999997, 88.41421600000001],
 [22.364447, 88.274642],
 [22.649895, 88.379299],
 [22.461759, 88.315883],
 [22.619898000000003, 88.43669399999999],
 [22.497601, 88.333485],
 [22.426264, 88.2723],
 [22.582047, 88.475241],
 [22.462989999999998, 88.333469],
 [22.552933, 88.37538599999999],
 [22.626920000000002, 88.488896],
 [22.452310999999998, 88.39475],
 [22.623262, 88.43840300000001],
 [22.491789999999998, 88.346288],
 [22.643298, 88.197119],
 [22.492559, 88.339088],
 [22.462936, 88.389595],
 [22.493402, 88.210954]]

In [174]:
zomatolist = []
for item in setlist:
  headers = {'accept': 'application/json', 'user-key': API}
  response = requests.get(f"https://developers.zomato.com/api/v2.1/geocode?lat={item[0]}&lon={item[1]}", headers=headers)
  response = response.json()
  loc = response['location']['title']
  popularity = response["popularity"]["popularity"]
  nearby = response["nearby_restaurants"]
  price = 0
  rating = 0.0
  for res in nearby:
    price += res["restaurant"]["price_range"]
    rating += float(res["restaurant"]["user_rating"]["aggregate_rating"])
  if len(nearby) != 0:
    zomato_price = price / len(nearby)
    zomato_rating = rating / len(nearby)
  else:
    zomato_price = 0
    zomato_rating = 0
  zomatolist.append([item[0], item[1], loc, popularity, zomato_price, zomato_rating])

In [175]:
zomatolist

[[22.459167,
  88.322051,
  'Thakur Pukur',
  '4.43',
  1.6666666666666667,
  3.8666666666666663],
 [22.398152,
  88.421751,
  'Narendra Pur',
  '3.73',
  1.3333333333333333,
  3.933333333333334],
 [22.586761,
  88.252898,
  'Kona Exp Way',
  '3.72',
  1.6666666666666667,
  3.7333333333333334],
 [22.528148,
  88.379278,
  'Picnic Garden',
  '4.93',
  2.5555555555555554,
  4.211111111111111],
 [22.570171,
  88.447571,
  'Sector 5, Salt Lake',
  '4.96',
  3.111111111111111,
  4.277777777777778],
 [22.446267000000002,
  88.400093,
  'Narendra Pur',
  '3.73',
  1.3333333333333333,
  3.933333333333334],
 [22.567551,
  88.463143,
  'New Town',
  '4.00',
  2.888888888888889,
  3.866666666666667],
 [22.699432,
  88.37539699999999,
  'Sodepur',
  '4.43',
  1.4444444444444444,
  4.122222222222222],
 [22.507655,
  88.29985,
  'Behala',
  '4.75',
  1.6666666666666667,
  4.133333333333333],
 [22.682904,
  88.46518,
  'Barasat',
  '4.27',
  1.4444444444444444,
  3.855555555555556],
 [22.57676,
  88.442903,
  'Sector 5, Salt Lake',
  '4.96',
  3.111111111111111,
  4.277777777777778],
 [22.502032, 88.340406, 'Tollygunge', '4.84', 2.0, 4.222222222222222],
 [22.399735,
  88.41598,
  'Narendra Pur',
  '3.73',
  1.3333333333333333,
  3.933333333333334],
 [22.563462,
  88.39210600000001,
  'Beliaghata',
  '4.72',
  3.6666666666666665,
  4.288888888888888],
 [22.641998,
  88.466071,
  'Chinar Park',
  '4.00',
  2.888888888888889,
  3.866666666666667],
 [22.583168, 88.41167800000001, 'Sector 3, Salt Lake', '4.84', 3.0, 4.1],
 [22.454918,
  88.386375,
  'Garia',
  '3.73',
  1.3333333333333333,
  3.933333333333334],
 [22.679944,
  88.455308,
  'Barasat',
  '4.27',
  1.4444444444444444,
  3.855555555555556],
 [22.495297,
  88.368442,
  'Jadavpur',
  '4.93',
  2.3333333333333335,
  4.255555555555556],
 [22.528426,
  88.35233199999999,
  'Bhawanipur',
  '5.00',
  2.6666666666666665,
  4.211111111111111],
 [22.611104,
  88.498101,
  'New Town',
  '4.00',
  2.888888888888889,
  3.866666666666667],
 [22.581120000000002,
  88.498343,
  'New Town',
  '4.00',
  2.888888888888889,
  3.866666666666667],
 [22.585151999999997,
  88.273586,
  'Kona Exp Way',
  '3.72',
  1.6666666666666667,
  3.7333333333333334],
 [22.494129,
  88.274638,
  'Behala',
  '4.75',
  1.6666666666666667,
  4.133333333333333],
 [22.746763,
  88.48575100000001,
  'Barasat',
  '4.27',
  1.4444444444444444,
  3.855555555555556],
 [22.711201000000003,
  88.50069,
  'Barasat',
  '4.27',
  1.4444444444444444,
  3.855555555555556],
 [22.619295,
  88.44737099999999,
  'New Town',
  '4.00',
  2.888888888888889,
  3.866666666666667],
 [22.493543,
  88.405631,
  'Ajoy Nagar',
  '4.58',
  1.7777777777777777,
  3.966666666666667],
 [22.610469000000002,
  88.497938,
  'New Town',
  '4.00',
  2.888888888888889,
  3.866666666666667],
 [22.599933,
  88.44998100000001,
  'New Town',
  '4.00',
  2.888888888888889,
  3.866666666666667],
 [22.582387,
  88.45384200000001,
  'New Town',
  '4.00',
  2.888888888888889,
  3.866666666666667],
 [22.594747,
  88.262587,
  'Kona Exp Way',
  '3.72',
  1.6666666666666667,
  3.7333333333333334],
 [22.470755,
  88.39710699999999,
  'Garia',
  '4.40',
  1.8888888888888888,
  4.0777777777777775],
 [22.515295000000002,
  88.347622,
  'Kalighat',
  '5.00',
  2.6666666666666665,
  4.222222222222221],
 [22.436982999999998,
  88.3917283,
  'Narendra Pur',
  '3.73',
  1.3333333333333333,
  3.933333333333334],
 [22.691457,
  88.33600899999999,
  'Hindmotor',
  '2.95',
  1.2222222222222223,
  3.566666666666667],
 [22.498266,
  88.348046,
  'Tollygunge',
  '5.00',
  2.7777777777777777,
  4.277777777777778],
 [22.481925, 88.326104, 'Behala', '4.84', 2.0, 4.222222222222222],
 [22.507324,
  88.32452099999999,
  'Behala',
  '4.75',
  1.6666666666666667,
  4.133333333333333],
 [22.747559,
  88.338539,
  'Serampore',
  '4.65',
  1.5555555555555556,
  4.055555555555555],
 [22.892501,
  88.47036899999999,
  'Barrackpore',
  '3.06',
  1.2222222222222223,
  3.3666666666666663],
 [22.493032999999997,
  88.403437,
  'Ajoy Nagar',
  '4.58',
  1.7777777777777777,
  3.966666666666667],
 [22.696996,
  88.47314300000001,
  'Barasat',
  '4.27',
  1.4444444444444444,
  3.855555555555556],
 [22.633414000000002,
  88.459187,
  'New Town',
  '4.00',
  2.888888888888889,
  3.866666666666667],
 [22.667361,
  88.381618,
  'Belghoria',
  '4.40',
  1.6666666666666667,
  3.855555555555556],
 [22.427963000000002,
  88.40740100000001,
  'Narendra Pur',
  '3.73',
  1.3333333333333333,
  3.933333333333334],
 [22.454086,
  88.30055300000001,
  'Joka',
  '4.17',
  1.5555555555555556,
  3.9777777777777774],
 [22.587225,
  88.50279499999999,
  'New Town',
  '4.00',
  2.888888888888889,
  3.866666666666667],
 [22.687471,
  88.440912,
  'Barasat',
  '4.27',
  1.4444444444444444,
  3.855555555555556],
 [22.737306,
  88.351315,
  'Serampore',
  '4.65',
  1.5555555555555556,
  4.055555555555555],
 [22.527656,
  88.389844,
  'Picnic Garden',
  '4.93',
  2.5555555555555554,
  4.211111111111111],
 [22.556041, 88.311766, 'Shibpur', '4.38', 2.0, 4.088888888888889],
 [22.488065,
  88.295812,
  'Behala',
  '4.75',
  1.6666666666666667,
  4.133333333333333],
 [22.404165,
  88.419477,
  'Narendra Pur',
  '3.73',
  1.3333333333333333,
  3.933333333333334],
 [22.489545, 88.336865, 'Behala', '4.84', 2.0, 4.222222222222222],
 [22.588327,
  88.49746,
  'New Town',
  '4.00',
  2.888888888888889,
  3.866666666666667],
 [22.573977,
  88.39824899999999,
  'Kankurgachi',
  '4.87',
  2.888888888888889,
  4.088888888888889],
 [22.582182,
  88.487992,
  'New Town',
  '4.00',
  2.888888888888889,
  3.866666666666667],
 [22.670682,
  88.37609599999999,
  'Belghoria',
  '4.40',
  1.6666666666666667,
  3.855555555555556],
 [22.616083,
  88.39054399999999,
  'Dum Dum',
  '4.12',
  1.4444444444444444,
  3.744444444444445],
 [22.592254999999998,
  88.50883499999999,
  'New Town',
  '4.00',
  2.888888888888889,
  3.866666666666667],
 [22.263379999999998, 88.23345, 'Falta', '0.00', 0, 0],
 [22.469172,
  88.39824899999999,
  'Garia',
  '4.40',
  1.8888888888888888,
  4.0777777777777775],
 [22.638310999999998,
  88.465164,
  'New Town',
  '4.00',
  2.888888888888889,
  3.866666666666667],
 [22.593626399999998,
  88.4766028,
  'New Town',
  '4.00',
  2.888888888888889,
  3.866666666666667],
 [22.694185,
  88.487053,
  'Barasat',
  '4.27',
  1.4444444444444444,
  3.855555555555556],
 [22.447353,
  88.287786,
  'Joka',
  '4.17',
  1.5555555555555556,
  3.9777777777777774],
 [22.660872, 88.34371, 'Uttarpara', '1.94', 1.0, 1.7],
 [22.708474,
  88.378311,
  'Sodepur',
  '4.43',
  1.4444444444444444,
  4.122222222222222],
 [22.386195,
  88.42447,
  'Narendra Pur',
  '3.73',
  1.3333333333333333,
  3.933333333333334],
 [22.572457999999997,
  88.49441800000001,
  'New Town',
  '4.00',
  2.888888888888889,
  3.866666666666667],
 [22.514066699999997,
  88.3378828,
  'Alipore',
  '4.89',
  1.8888888888888888,
  4.122222222222223],
 [22.439485,
  88.399957,
  'Narendra Pur',
  '3.73',
  1.3333333333333333,
  3.933333333333334],
 [22.521759,
  88.322446,
  'Alipore',
  '4.89',
  1.8888888888888888,
  4.122222222222223],
 [22.544097,
  88.38696999999999,
  'Topsia',
  '4.80',
  3.2222222222222223,
  4.199999999999999],
 [22.553960699999998,
  88.3710407,
  'Entally',
  '5.00',
  2.7777777777777777,
  4.177777777777778],
 [22.571903,
  88.48164,
  'New Town',
  '4.00',
  2.888888888888889,
  3.866666666666667],
 [22.504206,
  88.287499,
  'Behala',
  '4.75',
  1.6666666666666667,
  4.133333333333333],
 [22.622742300000002,
  88.38946990000001,
  'Sinthi',
  '4.12',
  1.4444444444444444,
  3.744444444444445],
 [22.723986,
  88.480351,
  'Barasat',
  '4.27',
  1.4444444444444444,
  3.855555555555556],
 [22.612916000000002,
  88.41072700000001,
  'Bangur',
  '4.99',
  2.5555555555555554,
  4.166666666666667],
 [22.627561, 88.445494, 'New Town', '4.60', 3.0, 4.077777777777778],
 [22.425151,
  88.30273100000001,
  'Joka',
  '4.17',
  1.5555555555555556,
  3.9777777777777774],
 [22.628961, 88.446314, 'New Town', '4.60', 3.0, 4.077777777777778],
 [22.691781,
  88.46864000000001,
  'Barasat',
  '4.27',
  1.4444444444444444,
  3.855555555555556],
 [22.443479,
  88.389803,
  'Narendra Pur',
  '3.73',
  1.3333333333333333,
  3.933333333333334],
 [22.341433,
  88.457786,
  'Narendra Pur',
  '3.73',
  1.3333333333333333,
  3.933333333333334],
 [22.632786,
  88.4704,
  'New Town',
  '4.00',
  2.888888888888889,
  3.866666666666667],
 [22.601535000000002,
  88.397541,
  'Lake Town',
  '4.99',
  2.6666666666666665,
  4.177777777777778],
 [22.574862,
  88.46634499999999,
  'New Town',
  '4.00',
  2.888888888888889,
  3.866666666666667],
 [22.439239,
  88.396338,
  'Narendra Pur',
  '3.73',
  1.3333333333333333,
  3.933333333333334],
 [22.589883,
  88.452872,
  'New Town',
  '4.00',
  2.888888888888889,
  3.866666666666667],
 [22.485354,
  88.287531,
  'Behala',
  '4.75',
  1.6666666666666667,
  4.133333333333333],
 [22.697995000000002,
  88.438601,
  'Barasat',
  '4.27',
  1.4444444444444444,
  3.855555555555556],
 [22.567901000000003,
  88.446208,
  'Sector 5, Salt Lake',
  '4.96',
  3.111111111111111,
  4.277777777777778],
 [22.589935,
  88.510215,
  'New Town',
  '4.00',
  2.888888888888889,
  3.866666666666667],
 [22.496433,
  88.348449,
  'Tollygunge',
  '5.00',
  2.7777777777777777,
  4.277777777777778],
 [22.576779000000002,
  88.49526800000001,
  'New Town',
  '4.00',
  2.888888888888889,
  3.866666666666667],
 [22.493499,
  88.398394,
  'Ajoy Nagar',
  '4.58',
  1.7777777777777777,
  3.966666666666667],
 [22.6819,
  88.473904,
  'Barasat',
  '4.27',
  1.4444444444444444,
  3.855555555555556],
 [22.633662,
  88.46405899999999,
  'Chinar Park',
  '4.00',
  2.888888888888889,
  3.866666666666667],
 [22.444117000000002,
  88.41149300000001,
  'Narendra Pur',
  '3.73',
  1.3333333333333333,
  3.933333333333334],
 [22.636942,
  88.411775,
  'Dum Dum',
  '4.12',
  1.4444444444444444,
  3.744444444444445],
 [22.678689000000002,
  88.460761,
  'Barasat',
  '4.27',
  1.4444444444444444,
  3.855555555555556],
 [22.578114000000003,
  88.366215,
  'College Street',
  '4.83',
  1.5555555555555556,
  4.166666666666666],
 [22.641526000000002,
  88.377438,
  'Baranagar',
  '4.52',
  1.4444444444444444,
  3.9111111111111105],
 [22.551689,
  88.393056,
  'Tangra',
  '4.72',
  3.6666666666666665,
  4.288888888888888],
 [22.602949,
  88.337913,
  'Salkia',
  '4.09',
  1.4444444444444444,
  3.9111111111111114],
 [22.553695, 88.335128, 'Park Street Area', '5.00', 3.0, 4.333333333333333],
 [22.407335,
  88.413744,
  'Narendra Pur',
  '3.73',
  1.3333333333333333,
  3.933333333333334],
 [22.591565,
  88.468703,
  'New Town',
  '4.00',
  2.888888888888889,
  3.866666666666667],
 [22.586785600000002,
  88.4939735,
  'New Town',
  '4.00',
  2.888888888888889,
  3.866666666666667],
 [22.559426300000002,
  88.37365390000001,
  'Park Circus Area',
  '4.87',
  1.6666666666666667,
  4.133333333333334],
 [22.567404999999997,
  88.517943,
  'New Town',
  '4.00',
  2.888888888888889,
  3.866666666666667],
 [22.455599,
  88.324353,
  'Thakur Pukur',
  '4.43',
  1.6666666666666667,
  3.8666666666666663],
 [22.589093,
  88.47385899999999,
  'New Town',
  '4.00',
  2.888888888888889,
  3.866666666666667],
 [22.535643,
  88.33908100000001,
  'Bhawanipur',
  '5.00',
  2.6666666666666665,
  4.211111111111111],
 [22.691318,
  88.355817,
  'Konnagar',
  '3.77',
  1.2222222222222223,
  3.8444444444444437],
 [22.493354999999998, 88.340365, 'Tollygunge', '4.84', 2.0, 4.222222222222222],
 [22.555027,
  88.387777,
  'Tangra',
  '4.72',
  3.6666666666666665,
  4.288888888888888],
 [22.499612,
  88.40820699999999,
  'Kalikapur',
  '4.65',
  3.111111111111111,
  4.155555555555555],
 [22.440106, 88.29385, 'Joka', '4.17', 1.5555555555555556, 3.9777777777777774],
 [22.699506,
  88.31854399999999,
  'Konnagar',
  '3.77',
  1.2222222222222223,
  3.8444444444444437],
 [22.591565,
  88.456034,
  'New Town',
  '4.00',
  2.888888888888889,
  3.866666666666667],
 [22.698283,
  88.43694,
  'Barasat',
  '4.27',
  1.4444444444444444,
  3.855555555555556],
 [22.540732000000002,
  88.356866,
  'Minto Park',
  '5.00',
  2.7777777777777777,
  4.177777777777778],
 [22.525929,
  88.39370500000001,
  'Picnic Garden',
  '4.93',
  2.5555555555555554,
  4.211111111111111],
 [22.586791,
  88.421994,
  'Sector 2, Salt Lake',
  '4.93',
  2.6666666666666665,
  4.055555555555555],
 [22.633829000000002,
  88.463741,
  'Chinar Park',
  '4.00',
  2.888888888888889,
  3.866666666666667],
 [22.576979,
  88.488607,
  'New Town',
  '4.00',
  2.888888888888889,
  3.866666666666667],
 [22.651344,
  88.37947700000001,
  'Baranagar',
  '4.52',
  1.4444444444444444,
  3.9111111111111105],
 [22.661363,
  88.439932,
  'Barasat',
  '4.27',
  1.4444444444444444,
  3.855555555555556],
 [22.512626,
  88.370689,
  'Dhakuria',
  '4.89',
  2.6666666666666665,
  4.188888888888888],
 [22.64321,
  88.406803,
  'Dum Dum',
  '4.12',
  1.4444444444444444,
  3.744444444444445],
 [22.547378,
  88.393846,
  'Tangra',
  '4.72',
  3.6666666666666665,
  4.288888888888888],
 [22.512772000000002,
  88.41025400000001,
  'Ruby Hospital Area',
  '4.81',
  2.7777777777777777,
  4.3],
 [22.578018,
  88.4976,
  'New Town',
  '4.00',
  2.888888888888889,
  3.866666666666667],
 [26.878147,
  75.781635,
  'Gopalpura',
  '4.38',
  1.5555555555555556,
  4.188888888888888],
 [22.557147,
  88.39846700000001,
  'Beliaghata',
  '4.77',
  3.111111111111111,
  4.055555555555555],
 [22.730711,
  88.454462,
  'Barasat',
  '4.27',
  1.4444444444444444,
  3.855555555555556],
 [22.484379,
  88.296362,
  'Behala',
  '4.75',
  1.6666666666666667,
  4.133333333333333],
 [22.483811, 88.329373, 'Behala', '4.84', 2.0, 4.222222222222222],
 [22.575843, 88.309252, 'Kona Exp Way', '4.38', 2.0, 4.088888888888889],
 [22.607008,
  88.413498,
  'Bangur',
  '4.99',
  2.5555555555555554,
  4.166666666666667],
 [22.6946,
  88.340544,
  'Konnagar',
  '2.95',
  1.2222222222222223,
  3.566666666666667],
 [22.59508,
  88.375853,
  'Shyam Bazar',
  '4.17',
  1.8888888888888888,
  4.077777777777778],
 [22.698573,
  88.469026,
  'Barasat',
  '4.27',
  1.4444444444444444,
  3.855555555555556],
 [22.599115,
  88.442785,
  'Kestopur',
  '4.73',
  1.4444444444444444,
  3.788888888888889],
 [22.645630999999998,
  88.382354,
  'Baranagar',
  '4.52',
  1.4444444444444444,
  3.9111111111111105],
 [22.386579,
  88.41833000000001,
  'Narendra Pur',
  '3.73',
  1.3333333333333333,
  3.933333333333334],
 [22.570644,
  88.463962,
  'New Town',
  '4.00',
  2.888888888888889,
  3.866666666666667],
 [22.450506,
  88.392075,
  'Narendra Pur',
  '3.73',
  1.3333333333333333,
  3.933333333333334],
 [22.574961,
  88.486499,
  'New Town',
  '4.00',
  2.888888888888889,
  3.866666666666667],
 [22.411118,
  88.24964399999999,
  'Joka',
  '4.17',
  1.5555555555555556,
  3.9777777777777774],
 [22.543113,
  88.386363,
  'Topsia',
  '4.80',
  3.2222222222222223,
  4.199999999999999],
 [22.734367000000002,
  88.386402,
  'Khardah',
  '4.51',
  1.6666666666666667,
  4.1000000000000005],
 [22.6827073,
  88.4660928,
  'Barasat',
  '4.27',
  1.4444444444444444,
  3.855555555555556],
 [22.590432,
  88.491352,
  'New Town',
  '4.00',
  2.888888888888889,
  3.866666666666667],
 [22.47286, 88.38515, 'Garia', '4.40', 1.8888888888888888, 4.0777777777777775],
 [22.624419, 88.43898, 'Chinar Park', '4.60', 3.0, 4.077777777777778],
 [22.617878,
  88.44801600000001,
  'New Town',
  '4.00',
  2.888888888888889,
  3.866666666666667],
 [22.456015,
  88.331051,
  'Thakur Pukur',
  '4.43',
  1.6666666666666667,
  3.8666666666666663],
 [22.615187, 88.28766, 'Liluah', '4.63', 1.2222222222222223, 4.0],
 [22.589407,
  88.452265,
  'New Town',
  '4.00',
  2.888888888888889,
  3.866666666666667],
 [22.625582,
  88.49076099999999,
  'New Town',
  '4.00',
  2.888888888888889,
  3.866666666666667],
 [22.460905,
  88.30779100000001,
  'Thakur Pukur',
  '4.43',
  1.6666666666666667,
  3.8666666666666663],
 [22.419527,
  88.284572,
  'Joka',
  '4.17',
  1.5555555555555556,
  3.9777777777777774],
 [22.665262,
  88.371312,
  'Belghoria',
  '4.52',
  1.4444444444444444,
  3.9111111111111105],
 [22.465147,
  88.39366899999999,
  'Garia',
  '4.40',
  1.8888888888888888,
  4.0777777777777775],
 [22.440842,
  88.29812700000001,
  'Joka',
  '4.17',
  1.5555555555555556,
  3.9777777777777774],
 [22.687184,
  88.338105,
  'Hindmotor',
  '2.95',
  1.2222222222222223,
  3.566666666666667],
 [22.499401000000002,
  88.413519,
  'Kalikapur',
  '4.65',
  3.111111111111111,
  4.155555555555555],
 [22.502676,
  88.329598,
  'New Alipore',
  '4.75',
  1.6666666666666667,
  4.133333333333333],
 [22.548157999999997,
  88.382573,
  'Tangra',
  '4.72',
  3.6666666666666665,
  4.288888888888888],
 [22.692638,
  88.463629,
  'Barasat',
  '4.27',
  1.4444444444444444,
  3.855555555555556],
 [22.628549,
  88.417697,
  'Nagerbazar',
  '4.67',
  2.111111111111111,
  4.133333333333334],
 [22.612631,
  88.445595,
  'New Town',
  '4.00',
  2.888888888888889,
  3.866666666666667],
 [22.736686,
  88.344729,
  'Serampore',
  '4.65',
  1.5555555555555556,
  4.055555555555555],
 [22.463406,
  88.388275,
  'Garia',
  '4.40',
  1.8888888888888888,
  4.0777777777777775],
 [22.484821,
  88.294591,
  'Behala',
  '4.75',
  1.6666666666666667,
  4.133333333333333],
 [22.638156,
  88.449703,
  'New Town',
  '4.00',
  2.888888888888889,
  3.866666666666667],
 [22.436876,
  88.37504100000001,
  'Garia',
  '3.73',
  1.3333333333333333,
  3.933333333333334],
 [22.490826000000002, 88.345894, 'Tollygunge', '4.84', 2.0, 4.222222222222222],
 [22.446924,
  88.392635,
  'Narendra Pur',
  '3.73',
  1.3333333333333333,
  3.933333333333334],
 [22.629835999999997,
  88.41421600000001,
  'Dum Dum',
  '4.12',
  1.4444444444444444,
  3.744444444444445],
 [22.364447,
  88.274642,
  'Joka',
  '4.17',
  1.5555555555555556,
  3.9777777777777774],
 [22.649895,
  88.379299,
  'Baranagar',
  '4.52',
  1.4444444444444444,
  3.9111111111111105],
 [22.461759,
  88.315883,
  'Thakur Pukur',
  '4.43',
  1.6666666666666667,
  3.8666666666666663],
 [22.619898000000003,
  88.43669399999999,
  'Chinar Park',
  '4.60',
  3.0,
  4.077777777777778],
 [22.497601,
  88.333485,
  'Behala',
  '4.75',
  1.6666666666666667,
  4.133333333333333],
 [22.426264, 88.2723, 'Joka', '4.17', 1.5555555555555556, 3.9777777777777774],
 [22.582047,
  88.475241,
  'New Town',
  '4.00',
  2.888888888888889,
  3.866666666666667],
 [22.462989999999998,
  88.333469,
  'Tollygunge',
  '4.43',
  1.6666666666666667,
  3.8666666666666663],
 [22.552933,
  88.37538599999999,
  'Entally',
  '4.72',
  3.6666666666666665,
  4.288888888888888],
 [22.626920000000002,
  88.488896,
  'New Town',
  '4.00',
  2.888888888888889,
  3.866666666666667],
 [22.452310999999998,
  88.39475,
  'Narendra Pur',
  '3.73',
  1.3333333333333333,
  3.933333333333334],
 [22.623262, 88.43840300000001, 'Chinar Park', '4.60', 3.0, 4.077777777777778],
 [22.491789999999998, 88.346288, 'Tollygunge', '4.84', 2.0, 4.222222222222222],
 [22.643298,
  88.197119,
  'Kona Exp Way',
  '3.72',
  1.6666666666666667,
  3.7333333333333334],
 [22.492559, 88.339088, 'Tollygunge', '4.84', 2.0, 4.222222222222222],
 [22.462936,
  88.389595,
  'Garia',
  '4.40',
  1.8888888888888888,
  4.0777777777777775],
 [22.493402,
  88.210954,
  'Tara Tala',
  '3.69',
  1.1111111111111112,
  4.022222222222222]]

In [142]:
def f(x):
  for item in zomatolist:
    if x['lattitude'] == item[0] and x['longitude'] == item[1]:
      return item[2]
  return "x"

df['zomato loc'] = df.apply(f, axis=1)

In [158]:
def f(x):
  for item in zomatolist:
    if x['lattitude'] == item[0] and x['longitude'] == item[1]:
      return float(item[3])
  return "x"

df['zomato popularity'] = df.apply(f, axis=1)

In [176]:
def f(x):
  for item in zomatolist:
    if x['lattitude'] == item[0] and x['longitude'] == item[1]:
      return float(item[4])
  return "x"

df['zomato price'] = df.apply(f, axis=1)

In [177]:
def f(x):
  for item in zomatolist:
    if x['lattitude'] == item[0] and x['longitude'] == item[1]:
      return float(item[5])
  return "x"

df['zomato rating'] = df.apply(f, axis=1)

In [178]:
df.sample(10)

      Unnamed: 0  area_sqft  ... zomato price  zomato rating
2446        2446     1460.0  ...     3.111111       4.277778
1010        1010     1020.0  ...     1.444444       3.855556
1756        1756     1016.0  ...     1.444444       3.855556
452          452      887.0  ...     1.666667       3.866667
1833        1833      955.0  ...     1.333333       3.933333
3115        3115      876.0  ...     3.000000       4.077778
787          787     1762.0  ...     2.111111       4.133333
660          660     1070.0  ...     1.444444       3.911111
956          956     1090.0  ...     1.444444       3.744444
1523        1523     1119.0  ...     1.444444       3.855556

[10 rows x 21 columns]

In [179]:
df.to_csv(r'raw_dataset_zomato.csv')

In [180]:
df.dtypes

Unnamed: 0             int64
area_sqft            float64
availability_date     object
balcony              float64
base_price             int64
bathroom             float64
bedrooms             float64
id                     int64
kitchens             float64
lattitude            float64
living               float64
locality_name         object
longitude            float64
owner_name            object
post_date             object
price                float64
property_name         object
zomato loc            object
zomato popularity    float64
zomato price         float64
zomato rating        float64
dtype: object

In [181]:
df.corr()

                   Unnamed: 0  area_sqft  ...  zomato price  zomato rating
Unnamed: 0           1.000000   0.097132  ...      0.000739       0.045412
area_sqft            0.097132   1.000000  ...      0.125179       0.138817
balcony              0.027613   0.147025  ...     -0.100201      -0.000286
base_price           0.116772   0.238627  ...      0.359384       0.302896
bathroom             0.126630   0.656865  ...      0.248577       0.211762
bedrooms             0.071830   0.666774  ...      0.185077       0.168590
id                   0.007216  -0.284063  ...      0.119616      -0.152853
kitchens            -0.059782   0.040626  ...      0.184144       0.075064
lattitude           -0.001811  -0.055792  ...      0.069511      -0.051350
living                    NaN        NaN  ...           NaN            NaN
longitude            0.018865   0.037104  ...      0.093508      -0.040092
price                0.124460   0.784141  ...      0.256309       0.247649
zomato popularity    0.100825   0.134385  ...      0.331200       0.804583
zomato price         0.000739   0.125179  ...      1.000000       0.298456
zomato rating        0.045412   0.138817  ...      0.298456       1.000000

[15 rows x 15 columns]